**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env
ENV
.env
.git
.github
.gitignore
README.md
LICENSE
data/index/*
!data/index/.gitkeep
data/references/*
!data/references/.gitkeep
data/logs/*
tests
scripts/dev
scripts/build-models
docker-compose*.yml
kubernetes
docs
examples
**/*.md
**/*.log
